*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 200px;
  /* cal for letter size of "x" and "o" should be smaller than the box size */
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  background-color: brown;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* divide the board 3 * 3 */
  grid-template-columns: repeat(3, auto);
}

/* Borders removed  */
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  /* background-color: brown; */
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

/* Cursor is not allowed for existing x or o */
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* individual x */
.cell.x::before,
.cell.x::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: white;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

/* circle */
.cell.circle::before,
.cell.circle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: white;
}

.cell.circle::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: brown;
}
